# ooREXX (Open Object REXX) files
*.rex linguist-language=REXX
*.rexx linguist-language=REXX
*.cls linguist-language=REXX

# Python files
*.py linguist-language=Python

# Shell files
*.sh linguist-language=Shell
